*{
    margin: 0;
    padding: 0;
}
#header_p3{
    background-color: lightskyblue;
    margin:auto;
    text-align: center;
} 
#wrapper_p3{
    background-color:khaki;
}
.video1{
    width: 46%;
    position: relative;
    padding-bottom: 25%;
    padding-top: 5%;
    height:20%;
    margin-left: 1%;
    margin-top: 2%;
}
.video1 iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    float: left;
}
p{
    width: 45%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float:right;
    margin-top: 12%;  
}
.video2{
    width: 46%;
    position: relative;
    padding-bottom: 25%;
    padding-top: 5%;
    height:20%;
    margin-left: 1%;
    margin-top: 2%;
}
.video2 iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    float: left;
}
img{
    width: 46%;
    margin-left: 1%;
}
footer {
    text-align: center;
  }
  a{
    text-decoration: none;
}
  h2{
    margin-left: 16%;
  }